body {
    margin: 0;
}

#layout {
    display: flex;
    flex-direction: column;
}

#top-bar {
    display: flex;
   align-items: center;
   justify-content: right;
    background-color: aquamarine;
    padding: 0px 10px;
    gap: 10px;
}

#page-title {
    flex-grow: 1;
}

#container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 10px;
    height: 500px;
    width: 70%;
    min-width: 500px;
    margin: 10%;
}

input:invalid:required {
    border: solid 1px red;
}
