body {
    margin: 0;
}

#layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#top-bar {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    padding: 0px 10px;
    gap: 10px;
}

#title {
    flex-grow: 1;
}  

#container {
    border: 1px solid black;
    width: 70%;
    margin: auto;
    flex-grow: 1;
}

#formIn {
    text-align: center;
    margin: 5px;
}

.item {
    margin: 5px;
}
